<div class="sidebar-container">
    <mat-toolbar color="primary" class="sidebar-toolbar">
        <mat-toolbar-row>
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="logo-container">
                <img src="../../../../assets/Hackdog_logo.png" class="bg-img">
            </div>
            <h1 class="app-name">BlueBank</h1>
            <span class="menu-spacer"></span>
            <button mat-button [matMenuTriggerFor]="menu"><span class="word-space-small">Bruce Wayne</span>
                <mat-icon class="icon-space-condensed">person</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Profile</button>
                <button mat-menu-item>Settings</button>
                <button mat-menu-item>Help</button>
                <button mat-menu-item>About</button>
                <button mat-menu-item>Log Out</button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>

    <!-- <mat-sidenav-container class="custom-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0"> -->
    <mat-sidenav-container class="custom-sidenav-container">
        <!-- <mat-sidenav mode="side" opened #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56"> -->
        <mat-sidenav mode="side" opened #snav>
            <mat-nav-list>
                <a mat-list-item class="word-space">
                    <mat-icon class="icon-space">dashboard</mat-icon>Dashboard
                </a>
                <a mat-list-item class="word-space">
                    <mat-icon class="icon-space">person_add</mat-icon>Create Employee<br />Profile
                </a>
                <a mat-list-item class="word-space">
                    <mat-icon class="icon-space">note_add</mat-icon>Create Employee<br />Account
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <app-create-employee-profile></app-create-employee-profile>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>