<div class="bg-img">
    <h1>Team Hackdog</h1>
    <div class="centerit">
        <mat-card class="about-card">
            <mat-card-title>The Foreman</mat-card-title>
            <mat-card-subtitle>Jade Ericson Adriano</mat-card-subtitle>
            <mat-card-content>GUI Expert</mat-card-content>
        </mat-card>
        <mat-card class="about-card">
            <mat-card-title>The Pitcher</mat-card-title>
            <mat-card-subtitle>Wainwright Rubia</mat-card-subtitle>
            <mat-card-content>Arts, Media, Business</mat-card-content>
        </mat-card>
        <mat-card class="about-card">
            <mat-card-title>The Man at the Back</mat-card-title>
            <mat-card-subtitle>Daryl John Mangalindan</mat-card-subtitle>
            <mat-card-content>Back End Executive</mat-card-content>
        </mat-card>
        <mat-card class="about-card">
            <mat-card-title>The Missing Link</mat-card-title>
            <mat-card-subtitle>Michael John Mananghaya</mat-card-subtitle>
            <mat-card-content>The food is good!</mat-card-content>
        </mat-card>
    </div>

    <h1>Special Thanks To</h1>
    <div class="centerit">
        <mat-card class="thanks">
            <mat-card-title>Finastra</mat-card-title>
            <mat-card-subtitle>Foods, goodies and of course, the Hackaton</mat-card-subtitle>
        </mat-card>
        <mat-card class="thanks">
            <mat-card-title>Funds Transfer Team</mat-card-title>
            <mat-card-subtitle>Moral support and pictures</mat-card-subtitle>
        </mat-card>
        <mat-card class="thanks">
            <mat-card-title>9th Floor Guard</mat-card-title>
            <mat-card-subtitle>Keeping us awake during times of distress.</mat-card-subtitle>
        </mat-card>
    </div>
</div>